<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">

<!--             test 是 MyBatis 中 if标签的条件判断属性，-->
<!--           用来决定是否将该标签内的 SQL 片段拼接到最终语句中。-->
    <select id="pageQuery" resultType="com.sky.entity.Employee">
        select * from employee
        <where>
            <if test="name != null and name != ''">
        and name like concat('%', #{name}, '%')
            </if>

        </where>
        order by create_time desc
    </select>
</mapper>
